<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>FORBIA-BEGINNING</title>
  <style type = "text/css">


  header{
      display : block;
      background-color : #121025;
	  color:white;
	  height:60px;
	  padding:0px;
}
  


  </style>

</head>

<body style="background-image:url(static/newBackground.jpg); background-size:cover; background-color:black;">
<p>


<header>
<div id = headstyle2 style="padding:15px; margin:0px; font-size:15pt opacity:1.0;">


<div style="display:flex; opacity:1.0;">
 <div style="margin-left:20px; width: 23%;">FORBIA</div>	  <div style="width: 20%;">INTRODUCE</div> <div style="width: 20%;">HOW TO USE</div> <div style="width: 30%;"> BOARD</div>
 <div style="border-style:solid; border-color:white; margin-top:0px ; padding:4px; border-width:1px">SIGN IN</div>	
</div>

</header>

<p style="margin-top:250px; color:white; text-align:center; font-size:35pt; opacity:1.0;">FOR,PHOBIA</br>WE FIND PHOBIA</p>



  <div id = "post_form">	
	<form method="POST" enctype="multipart/form-data" action="">
	   <center><span style="text-align:center; background-color:#BF3434; display:in-line; color:white; opacity:1.0; padding:7px; font-size:18pt"><input type="file" name="myfile" /></span></center>
	   <br/>
	   <center><span style="text-align:center; background-color:#BF3434; display:in-line; color:white; opacity:1.0; padding:7px; font-size:18pt"><input type="submit" /></span></center>
 	</form>








	<footer>

</footer>




</p>
</body>
</html>